nav {
  position: absolute;
  top: 20%;
  left: 100%;
  margin: 0;
  background: rgba(0,0,0, 0.1);
  width: 300px;
  z-index: 99;
  font-size: 16px;
  transition: all ease-out .2s;
  ul {
    padding: 0;
    width: inherit;
    list-style-type: none;
    li {
      cursor: pointer;
      padding: 0 3% 0 3%;
      transition: .4s;
      .link {
        text-decoration: none;
        color: black;
        opacity: 0.5;
        
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
      }
    }
  }
}
li:hover{
  transform: translateX(-10px);
  .link{
    opacity: 1;
  }
}
.language-switcher{
  position: relative;
  display: inline-block;
  width: 60px;
  height: 26px;
}
.language-slider{
  position: absolute;
  cursor: pointer;
  top:0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: white;
  transition: .4s;
}
.language-slider:before{
  position: absolute;
  content: 'EN';
  color:white;
  height: 26px;
  width: 26px;
  left: 4px;
  background-color: black;
  transition: .4s;
}
input:checked + .language-slider{
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .language-slider:before{
  content: 'RU';
  transform: translateX(26px);
}

@media only screen and (min-device-width: 320px) and (max-device-width: 760px) {
  .heading-background {
    display: none;
  }
  nav {
    display: none;
  }
}
