@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
body {
  margin: 0;
  font-family: 'Open sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  box-sizing: border-box;
  background: #FCF8EC;
  overflow-x: hidden;
}
