body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Tahoma", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.head {
  width: 100vw;
  height: 60px;
  background-color: black;
  color: white;
  position: relative;
}
